## Домашнее задание к лекции «Продвинутый pandas»

In [1]:
import pandas as pd

#### Задание 1
Для датафрейма log из материалов занятия создайте столбец **source_type** по правилам:

- если источник traffic_source равен Yandex или Google, то в source_type ставится **organic**;
- для источников paid и email из России ставим **ad**;
- для источников paid и email не из России ставим **other**;
- все остальные варианты берём из traffic_source **без изменений**.

In [4]:
log = pd.read_csv('D://visit_log.csv', sep = ';')

In [62]:
log.head(100)

,timestamp,visit_id,url,region,user_id,traffic_source
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex
...,...,...,...,...,...,...
95,1549981294,8542681424,https://host.ru/f1eb4601740d627ab0,Russia,9310ce3130,paid
96,1549981298,2ea9ab9198,https://host.ru/9f90e5c423a5f976d4,Ukraine,e9b6323d51,email
97,1549981308,136dd1a7d0,https://host.ru/1be58f19f26458f2fe,Russia,e0c3978e3a,direct
98,1549981312,30274f1a3e,https://host.ru/5301a605bd574af1a5,Russia,691be7fee0,google
99,1549981324,4b298058e1,https://host.ru/b8b58337d272ee7b15,Belarus,4d4a578a01,direct

In [69]:
log.loc[log.traffic_source.str.contains('Yandex|Google',case = False ), 'source_type']= 'organic'

In [71]:
log.loc[(log.traffic_source.str.contains('paid|email',case = False ))&(log.region == 'Russia'), 'source_type']= 'ad'

In [72]:
log.loc[(log.traffic_source.str.contains('paid|email',case = False ))&(log.region != 'Russia'), 'source_type']= 'other'

In [74]:
log.source_type.fillna(value = log.traffic_source,inplace = True)

In [76]:
log.head(50)

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,organic
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,organic
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,organic
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,organic
5,1549980742,8855508aad,https://host.ru/df646c3676cc259fa0,Russia,fc43898e47,yandex,organic
6,1549980742,b0f66adc83,https://host.ru/b8b58337d272ee7b15,Russia,13fc55e781,paid,ad
7,1549980754,837885c8f8,https://host.ru/108ce4b365afb7b88e,Russia,cb5082b6f6,direct,direct
8,1549980760,af5570f5a1,https://host.ru/3004a8273caeef2867,China,45664f7af2,direct,direct
9,1549980765,3e7077fd2f,https://host.ru/df646c3676cc259fa0,Russia,6f9de8c8b6,email,ad
10,1549980777,01d448afd9,https://host.ru/a5dda93e70318570c0,India,27e76a4a80,direct,direct
11,1549980785,71b6c1d538,https://host.ru/c8d9213a31839f9a3a,Ukraine,3b13701488,google,organic
12,1549980789,15ec7bf0b5,https://host.ru/8e88d4703848cc0ec4,Russia,6d1d81f7f8,paid,ad
13,1549980792,dd46c3eebb,https://host.ru/3004a8273caeef2867,China,7e301c8c41,direct,direct
14,1549980793,e7ecebbc59,https://host.ru/05e41944dd85a900a6,Belarus,ac52dedc3b,direct,direct
15,1549980797,5322fecfc9,https://host.ru/4adc8a29b212051b04,Belarus,9a45d98867,paid,other
16,1549980801,374708fff7,https://host.ru/39fa884393666d45fc,Russia,e9bd59e22d,google,organic
17,1549980807,0a88111852,https://host.ru/2fcb223266880ccf57,Ukraine,a2ba8fa3db,paid,other
18,1549980814,60daa3a5f7,https://host.ru/ef57543002ce2a0f2a,Belarus,72cb10fb5c,direct,direct
19,1549980816,d6fd62f5ce,https://host.ru/f1eb4601740d627ab0,Belarus,7269dcd869,direct,direct
20,1549980816,de47c9b27e,https://host.ru/8fe7c39e5c598bbc54,Ukraine,2f25b6e26a,email,other
21,1549980823,c90232586b,https://host.ru/da83c74e35e7806fe0,Ukraine,a00405d70c,google,organic
22,1549980827,6a4875ddac,https://host.ru/f2297425e1328e9e35,Ukraine,ea1bf97284,yandex,organic
23,1549980839,015275e61f,https://host.ru/c8d9213a31839f9a3a,Russia,21bdc57777,email,ad
24,1549980842,9d908ecfb6,https://host.ru/ae8a036d7f44d0bcd9,China,583b1a1636,direct,direct
25,1549980844,61126de1b7,https://host.ru/060d9bdbcba66b8bb3,Russia,9de3f97d4f,direct,direct
26,1549980852,659d36ca56,https://host.ru/4adc8a29b212051b04,Russia,c4bd1ae3af,paid,ad
27,1549980853,ea49aa9f6f,https://host.ru/1afc5618562365020a,Russia,20e8e91ecf,email,ad
28,1549980862,3addfb141c,https://host.ru/186c4d6b47dbde0e74,Russia,3f64fc1a87,yandex,organic
29,1549980874,11e431c215,https://host.ru/05e41944dd85a900a6,Russia,a15f66b89b,paid,ad
30,1549980877,0679246d6c,https://host.ru/da83c74e35e7806fe0,Ukraine,f8043c57c9,direct,direct
31,1549980881,fd08be957b,https://host.ru/8fe7c39e5c598bbc54,Ukraine,8779289616,direct,direct
32,1549980886,66687aadf8,https://host.ru/1afc5618562365020a,Ukraine,45c62a0196,direct,direct
33,1549980897,7f9c9e31ac,https://host.ru/ac2d98a5a63e7c6e28,Belarus,38f45e7f9b,email,other
34,1549980903,eb142b0cae,https://host.ru/6fda01ec57f23abc9e,Russia,ffbb3278c4,yandex,organic
35,1549980908,0d5535e13c,https://host.ru/8880fd00cf23066541,Russia,51baf057bb,email,ad
36,1549980918,6db65fd59f,https://host.ru/39fa884393666d45fc,Belarus,3739124008,direct,direct
37,1549980930,ab24a95f44,https://host.ru/1be58f19f26458f2fe,Russia,f880b1e734,direct,direct
38,1549980931,762b023699,https://host.ru/8880fd00cf23066541,Belarus,00fad95415,yandex,organic
39,1549980932,94c11ed3c3,https://host.ru/da83c74e35e7806fe0,Russia,1875754379,yandex,organic
40,1549980934,2c34ce1df2,https://host.ru/53b1649b8344e663e9,Russia,eb865af0aa,email,ad
41,1549980942,9e1736c43d,https://host.ru/3004a8273caeef2867,Russia,569ec05b11,email,ad
42,1549980946,094c4931fd,https://host.ru/9010367b0b48d2f1b9,Russia,2c7e893a3f,email,ad
43,1549980949,859732b973,https://host.ru/4adc8a29b212051b04,Ukraine,80f2fd30f8,email,other
44,1549980959,85759b3811,https://host.ru/ae8a036d7f44d0bcd9,Belarus,27792fbdad,direct,direct
45,1549980963,8a10206341,https://host.ru/a8ce0b447c10a1deaa,Russia,fb26c7ed59,direct,direct
46,1549980969,878f32f76b,https://host.ru/186c4d6b47dbde0e74,Russia,ee82681887,google,organic
47,1549980972,140eda45fe,https://host.ru/39fa884393666d45fc,Russia,b655c61436,yandex,organic
48,1549980984,17b0761f87,https://host.ru/b8b58337d272ee7b15,Russia,da7ff4a3a0,direct,direct
49,1549980990,78877fa898,https://host.ru/53b1649b8344e663e9,India,bedc22cdfb,email,other

#### Задание 2
В файле *URLs.txt* содержатся URL страниц новостного сайта. Вам нужно отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри URL конструкцию: **/, затем 8 цифр, затем дефис**. 
Выполните действия:

1. Прочитайте содержимое файла с датафрейм.
1. Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствие с заданным шаблоном.

In [80]:
urls= pd.read_csv('D://URLs.txt')

In [78]:
urls.head()

                                                 url
0                                            /world/
1                                           /latest/
2                                      /?updated=top
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...

In [83]:
urls.loc[urls.url.str.contains('/\d{8}-.*')]

                                                  url
3   /politics/36188461-s-marta-zhizn-rossiyan-susc...
4   /world/36007585-tramp-pridumal-kak-reshit-ukra...
5   /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6   /video/36001498-poyavilis-pervye-podrobnosti-g...
7   /world/36007585-tramp-pridumal-kak-reshit-ukra...
..                                                ...
88  /cis/35984145-kreml-prokommentiroval-soobschen...
89  /video/36071019-olimpiyskie-obekty-rio-prevrat...
90  /science/36151301-nazvano-posledstvie-zloupotr...
91  /incidents/36027330-vospitatelnitsu-zatravili-...
92  /world/36103095-dominikanskih-zhurnalistov-ubi...

[84 rows x 1 columns]

#### Задание 3
Используйте файл с оценками фильмов *ml-latest-small/ratings.csv*. 

Посчитайте **среднее время жизни пользователей, которые выставили более 100 оценок**.

*Под временем жизни понимается разница между максимальным и минимальным значениями столбца timestamp для данного значения userId.*

In [160]:
ratings = pd.read_csv('D://ml-latest-small/ratings.csv')

In [85]:
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [149]:
ratings.groupby('userId').agg('count').reset_index()[['userId', 'timestamp']]

     userId  timestamp
0         1         20
1         2         76
2         3         51
3         4        204
4         5        100
..      ...        ...
666     667         68
667     668         20
668     669         37
669     670         31
670     671        115

[671 rows x 2 columns]

In [98]:
def mean_life(data):
    return data.timestamp.max() -  data.timestamp.min()

In [174]:
#среднее время жизни пользователей, которые выставили более 100 оценок
ratings[ratings.userId.isin(ratings.groupby('userId').agg('count').reset_index()['userId'])].groupby('userId').apply(mean_life).reset_index().rename(columns = {0: 'mean_life'})

     userId  mean_life
0         1         97
1         2        851
2         3      71198
3         4     203560
4         5       2101
..      ...        ...
666     667       1014
667     668        282
668     669        685
669     670    2162705
670     671   11283984

[671 rows x 2 columns]

In [184]:
ratings_update = ratings.merge(ratings[ratings.userId.isin(ratings.groupby('userId').agg('count').reset_index()['userId'])].groupby('userId').apply(mean_life).reset_index().rename(columns = {0: 'mean_life'}), how = 'left', on = 'userId')

In [188]:
ratings_update.head()

   userId  movieId  rating   timestamp  mean_life
0       1       31     2.5  1260759144         97
1       1     1029     3.0  1260759179         97
2       1     1061     3.0  1260759182         97
3       1     1129     2.0  1260759185         97
4       1     1172     4.0  1260759205         97

#### Задание 4
Дана статистика услуг перевозок клиентов компании по типам *(см. файл “Python_13_join.ipynb” в разделе «Материалы для лекции “Продвинутый pandas”» ---- Ноутбуки к лекции «Продвинутый pandas»)*.

Нужно сформировать две таблицы:

1. таблицу с тремя типами выручки для каждого **client_id без указания адреса клиента**;
2. аналогичную таблицу по типам выручки с **указанием адреса клиента**.

*Обратите внимание, что в процессе объединения таблиц данные не должны теряться.*

*Из файла “Python_13_join.ipynb” 
Дана статистика:
- ID клиентов и их имена (датафрейм clients)
- статистика доходов (earnings)
- статистика расходов (spending)

In [194]:
rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)
auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)
air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)
client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1', 
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)

In [190]:
clients.head()

      id                name
0  43018         Марков Илья
1  48329  Зарицкая Елизавета
2  51043       Благова Дарья
3  74943       Слепова Елена
4  75029    Гордецкий Максим

In [191]:
earnings.head()

      id  debit
0  51043  34500
1  48329  12400
2  74943  89044
3  75029   5355
4  43018  19800

In [192]:
spending.head()

      id  credit
0  51043   22990
1  48329    2500
2  74943   69880
3  75029    6000
4  43018   29000

In [214]:
client_base.client_id.reset_index()

   index  client_id
0      0        111
1      1        112
2      2        113
3      3        114
4      4        115
5      5        116
6      6        117
7      7        118

In [223]:
client_base.client_id.reset_index().merge(rzd, how = 'left', on = 'client_id').merge(auto, how = 'left', on = 'client_id').merge(air, how = 'left', on = 'client_id').iloc[:, 1:]

   client_id  rzd_revenue  auto_revenue  air_revenue
0        111       1093.0           NaN          NaN
1        112       2810.0           NaN          NaN
2        113      10283.0       57483.0          NaN
3        114       5774.0          83.0          NaN
4        115        981.0         912.0         81.0
5        116          NaN        4834.0          4.0
6        117          NaN          98.0         13.0
7        118          NaN           NaN        173.0

In [197]:
# таблица по типам выручки с указанием адреса клиента
client_base.merge(rzd, how = 'left', on = 'client_id').merge(auto, how = 'left', on = 'client_id').merge(air, how = 'left', on = 'client_id')

   client_id          address  rzd_revenue  auto_revenue  air_revenue
0        111  Комсомольская 4       1093.0           NaN          NaN
1        112   Энтузиастов 8а       2810.0           NaN          NaN
2        113  Левобережная 1а      10283.0       57483.0          NaN
3        114          Мира 14       5774.0          83.0          NaN
4        115        ЗЖБИиДК 1        981.0         912.0         81.0
5        116    Строителей 18          NaN        4834.0          4.0
6        117  Панфиловская 33          NaN          98.0         13.0
7        118     Мастеркова 4          NaN           NaN        173.0